body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(270deg, #fffaf0, #ffd6e0, #dff6ff, #fffaf0);
  background-size: 800% 800%;
  animation: bgMove 10s ease infinite;
}

@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: white;
}

.cart-btn {
  text-decoration: none;
  background: #ff5c8a;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}

.card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 10px;
}

.price {
  color: #ff5c8a;
  font-weight: bold;
}

button {
  margin-top: 10px;
  background: #8ecae6;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* responsive */
@media (max-width: 900px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .products {
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
    place-items: center;
  }
}

/*========Modal========*/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.modal-content {
  background: white;
  padding: 20px 30px;
  border-radius: 15px;
  font-size: 18px;
  animation: pop 0.4s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

@keyframes pop {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
